/* my first css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFCC;
}

img {
    border: 10px solid green;
}

h1 {
    border: 5px dotted red;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

cite {
    font-size: 1.5rem;
}

.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}

ul a:link {
    font-weight: bold;
    text-decoration: none;
    color: lightgreen;
    font-size: 1.3rem;
}

a:visited {
    color: lightgreen;
    font-size: 2rem;
    font-weight: normal;
}

a:hover {
    color: orange;
    text-decoration: underline;
    background-color: aqua;
}

a.harward:link {
    color: maroon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}