html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}

h1 {
    color: #DA0090;
    font-size: 3rem;
    margin:0;
    padding:0;
    border: 4px dotted red,
}

h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}

a {
    color: #DA0090;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.posted {
    font-size: 0.8rem;
    color: #89A611;
}

header {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    justify-content: space-between;
    width: fit-content;
}
.leftheader {
    text-align: right;
    padding-right: 1rem;
}
.rightheader {
    align-self: center;
    margin: 0;
    padding: 0;
}

.rightheader h1{
    margin: 0;
}

.rightheader p{
    margin-top: -0.5rem;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

nav {
    border-top: 2px solid #A51F10;
    border-bottom: 2px solid #DA0090;
    margin-bottom: 2rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1.25rem;
    margin: 0;
}

nav ul li a {
    display: block;
    color: black;
    padding: 0.5rem 1.5rem;
}

nav ul li a:hover{
    text-decoration: none;
    background-color: black;
    color: #84de37;
}

section {
    border-bottom: 2px solid #DA0090
}

.floatleft {
    float: left;
    margin-right: 1rem;
    border-radius: 20px;
}

article {
    overflow: auto;
    margin-bottom: 5rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: 2px solid #A51F10;
    padding: 1.5rem;
    margin-top: 8px;
}

footer ul {
    list-style-type: none;
    width: fit-content;
    margin: 0 auto;
    padding:0;
}

footer ul li {
    display: inline-block;
    padding: 0 0.25rem;
}

footer p {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
}